image: vmoon/gitlab-ci-android:34-jdk17


include:
  - local: 'stages/.gitlab-ci-build.yml'

stages:
  - build # Билд в кэш общих элементов
  - lint
  - tests
  - build_flavors
  - release
  - create_git_tag


before_script:
  - chmod +x ./gradlew







testRunTests:
  stage: tests
  script:
    - ./gradlew core:data:test
  cache:
    key: "$CI_PROJECT_NAME"
    policy: pull
  artifacts:
    paths:
      - core/data/build/reports/tests/testDebugUnitTest/classes
      - core/data/build/reports/tests/testDebugUnitTest/packages
      - core/data/build/reports/tests/testDebugUnitTest/index.html
    expire_in: 10 days
    when: always
