image: vmoon/gitlab-ci-android:34-jdk17


include:
  - local: 'stages/.gitlab-ci-build.yml'
  - local: 'stages/.gitlab-ci-lint.yml'
  - local: 'stages/.gitlab-ci-unit-tests.yml'


stages:
  - build # Билд в кэш общих элементов
  - lint
  - tests
  - build_flavors
  - release
  - create_git_tag

before_script:
  - chmod +x ./gradlew




