
#build:
#  stage: build
#  script:
#    - cp gradle.ci.properties gradle.properties
#    - ./gradlew assembleDebug
#    - free -h && top -b -n 1 | head -20
#  cache:
#    key: "$CI_PROJECT_NAME"
#    paths:
#      - .gradle/
#      - build/
#      - build-logic/.gradle/
#      - core/**/build/
#      - app/**/build/
#      - feature/**/build/
#      - sdk/
#    policy: push
#  artifacts:
#    paths:
#      - .gradle/
#      - build/
#      - build-logic/.gradle/
#      - core/**/build/
#      - app/**/build/
#      - feature/**/build/
#      - sdk/
#    expire_in: 1 week





